
<% @posts.each do |post| %>
	<div class="psot">

	<div class="post">
	<h3 class="title"><%= link_to post.title,post %></h3>
	<div class="entry"><%= truncate(post.body, length: 200) %></div>
	<div class="byline">
        <p class="meta">May 07, 2012 Posted by <a href="#">Someone</a></p>
        <p class="links"><%= link_to ('Read'+' '+'More'),post =%></p>
    </div>
	</div>
</div>
<%end%>
